@import 'arcgis-draw-ui/arcgis-draw-ui.css';

html, body, #map, .map.container {
    padding:0;
    margin:0;
    height:100%;
}

content {
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 100%;
}

#map {
    -ms-flex: 1;
    flex: 1;
}

#drawUI {
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    overflow: auto;
}