html, body, #map, .map.container {
    padding:0;
    margin:0;
    height:100%;
}

content {
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 100%;
}

#map {
    -ms-flex: 1;
    flex: 1;
}

#drawUI {
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    overflow: auto;
}

.draw-ui > button > span {
    align-self: center;
}

.draw-ui > button > .icon:before {
    font-size: 18pt;
    font-family: 'Segoe UI Symbol';
    align-items: center;
}

.left-arrow > .icon:before {
    content: '\21E6';
}

.arrow > .icon:before {
    content: '\21D7';
}

.up-arrow > .icon:before {
    content: '\21E7';
}

.right-arrow > .icon:before {
    content: '\21E8';
}

.down-arrow > .icon:before {
    content: '\21E9';
}

.circle > .icon:before {
    content: '\20DD';
}

/*.ellipse > .icon:before {
    content: '\2B2C';
}*/


.drawn-features path {
    stroke: red;
    stroke-opacity: 1;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-linejoin: round;
}