.draw-ui > button > span {
    align-self: center;
}

.draw-ui > button > .icon:before {
    font-size: 18pt;
    font-family: 'Segoe UI Symbol';
    align-items: center;
}

.draw-ui .icon {
    background-image: url('icons.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-position-y: bottom;
}

.multi-point .icon {
    background-position-x: -32px;
}

.line .icon {
    background-position-x: -64px;
}

.polyline .icon {
    background-position-x: -96px;
}

.freehand-polyline .icon {
    background-position-x: -128px;
}


.drawn-features path {
    stroke: red;
    stroke-opacity: 1;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.drawn-features [data-geometry-type='polygon'], .drawn-features [data-geometry-type='extent'] {
    fill: darkgray;
    fill-opacity: 0.6;
}